/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Roboto', ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  box-sizing: border-box;
  background-color: linear-gradient(135deg, #f7f7f7 0%, #ffffff 100%);
 }

code {
  font-family: 'Roboto';
}
